<div class="container">
  <div class="row">
    {% for player in site.data.index.nba_picks %}
    <div class="col-xs-3">
      <h1>{{ player.name }}</h1>
      <h3><em>Pick: {{ player.pick }}</em></h3>
      <ol>
        {% for pick in player.teams %}
          <li class='{{ pick.css }}'><img class='img-fluid img-logo' src="https://cdn.nba.com/logos/nba/{{ pick.team_id }}/primary/L/logo.svg"><h4>{{ pick.name }}</h4><span>{{ pick.wins }}</span></li>
        {% endfor %}
      </ol>
   </div>
   {% endfor %}
</div>
