<div class="container">
    <div class="row">
        <div class="col-12 text-center" id="i18_nba_summary">
            <div class="navy-line"></div>
            <h1><span data-i18n="nba_summary.nba_wins">NFL Wins</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn col-12">
            <canvas id="{{ site.data.index.nba_summary.id }}" height="300" width="600" style="padding: 2em;"></canvas>
        </div>
        <div class="col-1"></div>
        <script>
            window.chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(75, 192, 192)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(201, 203, 207)',
                black: 'rgb(0, 0, 0)'
            };
            window.allWins = {{ site.data.index.nfl_summary.data }};

            var ctx = document.getElementById("{{ site.data.index.nfl_summary.id }}");
            ctx.style.backgroundColor = 'rgba(255,255,255, 0.85)';
            var data = {
                labels: [
                    {% for label in site.data.index.nfl_summary.labels %}
            '{{ label | escape }}'
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
                ],
            datasets: [{
                label: 'Jeff',
                backgroundColor: 'rgb(0, 51, 141)',
                borderColor: 'rgb(198, 12, 48)',
                data: window.allWins[0],
                fill: false,
            }, {
                label: 'Greg',
                backgroundColor: 'rgb(26, 25, 95)',
                borderColor: 'rgb(158, 124, 12)',
                data: window.allWins[1],
                fill: false,
            }, {
                label: 'Tim',
                backgroundColor: 'rgb(227, 24, 55)',
                borderColor: 'rgb(255, 184, 28)',
                data: window.allWins[2],
                fill: false,
            }, {
                label: 'Zach',
                backgroundColor: 'rgb(0, 76, 84)',
                borderColor: 'rgb(165, 172, 175)',
                data: window.allWins[3],
                fill: false,
            }, {
                label: 'Mike',
                backgroundColor: 'rgb(0, 118, 182)',
                borderColor: 'rgb(176, 183, 188)',
                data: window.allWins[4],
                fill: false,
            }]
            };
            var myRadarChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    title: { display: false },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Wins'
                            }
                        }]
                    },
                    legend: { display: true },
                }
            });
        </script>
    </div>
</div>